/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*palette*/

:root {
    --color-primary-white: #fffeff;
    --color-primary-blue: #0084fd;
    --color-primary-purple: #9792e4;
    --color-secondary-black: #343334;
    --color-secondary-azure: #b8dcff;
    --color-secondary-yellow: #fdc061;
}

/*icons 

<i class="fa-solid fa-file-code"></i> --file-code
<i class="fa-solid fa-compass-drafting"></i> --compass
<i class="fa-solid fa-laptop-code"></i> --laptop-code
<i class="fa-solid fa-volume-high"></i> --speaker

*/

/*position*/

.p-fixed {
    position: fixed;
}

.p-index-high {
    z-index: 100;
}

.p-absolute {
    position: absolute;
}

/*miscellaeous*/

h2 {
    font-size: 2.2 rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

p {
    line-height: 30px;
}

img {
    width: 100%;
}

ul>li {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.padding-y {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-x {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.button-wrapper {
    padding: 10px;
    border-radius: 50%;
}

.propic-wrapper {
    border-radius: 50%;
}

.border-rounded-small {
    border-radius: 30px;
}

.border-rounded-big {
    border-radius: 40px;
}

.bg-azure {
    background-color: var(--color-secondary-azure);
}

.bg-white {
    background-color: var(--color-primary-white);
}

.bg-purple {
    background-color: var(--color-primary-purple);
}

.text-blue {
    color: var(--color-primary-blue);
}

.text-white {
    color: var(--color-primary-white);
}

.text-black {
    color: var(--color-secondary-black);
}

/*header*/

nav {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
}

/*main*/

/*intro*/

.intro-card-wrapper {
    padding: 20px;
}

.intro-card {
    padding: 20px;
    height: 100%;
}

.intro-card-icon {
    font-size: 6rem;
}

.intro-card-text {
    padding: 20px 50px;
}

/*footer*/

footer {
    background-color: var(--color-secondary-black);
    color: var(--color-primary-white);
}

/*media quary*/

@media screen and (min-width: 576px) {

    .d-flex {
        display: flex;
        flex-flow: row wrap;
    }

    .align-stretch {
        align-items: stretch;
        align-content: stretch;
    }

    .space-between {
        justify-content: space-between;
    }

    #intro .intro-card-wrapper {
        width: calc(100% / 3);
    }

    #intro .intro-card-wrapper:first-child {
        width: calc((100% / 3) * 2);
    }

}

/*appare il mockup*/
@media screen and (min-width: 768px) {
     
}


@media screen and (min-width: 1200px) {
    
}